<div class="card" style="width: 18rem;" id="carta">
  <div>
    <img id="imagen1"
      src="https://cdn.jsdelivr.net/gh/gabrielrosaless/isw-tp6-nfvb5l@master/src/app/app-menu/inicio/image/imagenFinal.png"
      class="img-fluid" alt="Responsive image">
  </div>
  <div class="card-body text-center">
    <h5 class="card-title"> Pedido de “lo que sea” </h5>
    <p class="card-text">Presione el boton para pedir lo que sea</p>
    <a href="#" class="btn btn-primary" routerLink="/spedido">Iniciar Pedido</a>
  </div>
</div>
